<header>
	<nav>
		<ul>
		<li><a href="/">Home.</a></li>
			<% if logged_in? %>
			<li><a href="/users/<%=current_user.id%>"><%= current_user.username%>: <%= current_user.id%></a></li>
			<li><form action="/sessions" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Log out"> 
			</form></li>
			<% else %>
			<li><a href="/sessions/new">Log in.</a></li>
			<li><a href="/users/new">Register.</a></li>
			<% end %>
		</ul>
	</nav>
</header>